<html>
    <head>Git lab Info</head>
    <body>
        <p>{{data}}</p>
        <form action="/" method="POST">
            Enter URL Of Project:
            <input type="text" name="url">
            <br>
            
            Enter Username:
            <input type="text" name="uname">
            <br>
            Enter password :
            <input type="password" name="password">
            <br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>