
<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <!-- Initialize TreeView -->
        <div id="tree">
            <ul>
                {{#each data}}
                
                    {{this}}<br>
                
                {{/each}}
            </ul>
       </div>
    </div>
</div>

